/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

.strong {
    font-weight:bold;
}
.cursive {
    font-style: italic
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left
}
.justify {
    text-align: justify;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
.fullwidth {
    float:left;
    width:100%;
}
.halfwidth {
    float:left;
    width:50%;
}
.first {
    margin-left: 0 !important;
}
.alignleft{
    float:left;
    margin:0 15px 15px 0;
}
.alignright{
    float:right;
    margin: 0 0 15px 15px;
}
.aligncenter {
    float: none;
    display: block;
    margin: 0 auto;
}
.breadcrumb > li {
    text-transform:capitalize
}
img {
    max-width: 100%;
}
/*edits by vaibhav*/
/***LAYOUT***/
a:focus{
    outline: none !important;
}
body.admin-logged-in {
    background: #ffffff none repeat scroll 0 0;
    margin-top: 72px;
}
#page-wrapper {
    height: 100%;
    min-height: 680px;
    overflow-y: auto;
}
.page-header {
    color: #337ab7;
}
/***HEADER***/
.navbar-default {
    background-color: #0e5a9e;
    border-color: #03385c;
}
.navbar-header {
    padding: 10px;
}
.navbar-brand {
    padding: 8px 15px 8px 5px;
}
.top-nav > li > a {
    padding-bottom: 25px;
    padding-top: 25px;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #074781;
}
.top-nav li a i {
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.highlight {
    background: none repeat scroll 0 0 #d9534f;    
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.dropdown.open {
    transition: all 2s ease 0s;
}
.top-nav>.open>.dropdown-menu {
    background-color: #337AB7;
    box-shadow: none;
    padding: 0;
}
.dropdown-menu > li > a {
    color: #ffffff;
    padding: 10px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #074781;
}
.dropdown-menu .divider{
    margin: 5px 0;
}
/***Sidebar***/
.side-nav {    
    top: 71px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #FFFFFF;
    color: #0E5A9E;
}
.side-nav li a:hover, .side-nav li a:focus {
    background-color: #fff !important;
    outline: medium none;
    color: #0E5A9E !important;
}
/***ADD PROJECT PAGE***/
.project table.manpower-type {
    width: 100%;
}
.project table.manpower-type tr {
    float: left;
    width: 100%;
}
.project table.manpower-type tr td {
    float: left;
}
.project table.manpower-type .checkbox input[type="checkbox"]{
    margin-top: 2px;
}
.project .manpower-type td:last-child{
    padding: 10px 0;
}
.project .manpower-type td:last-child input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -4px;
    text-align: center;
}
/***ADD USER PAGE***/
.user .form-group > label {
    color: #333333;
    font-weight: 400;
}
/*Dashbaord lates style*/
.panel-primary .table-bordered thead th {
    background-color: #333;
    color: #fff;
    vertical-align: top;
    font-size: 13px;
}
span.status-block {
    background-color: #D43F3A;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
}
span.status-active {
    background-color: #49961C;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.breadcrumb {
    padding: 0px 4px;
    background-color: transparent;
    border-radius: 4px;
}
ul.project-estimate-list {
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

ul.project-estimate-list li {
    display: inline-block;
    width: 49%;
    min-height: 30px;
    padding: 8px 4px;
    float: left;
    vertical-align: top;
}
.page-header {
    margin: 10px 0 20px;
}
.side-nav > li > a:hover, .side-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #0E5A9E;
}
.side-nav li ul li a:hover, .side-nav li ul li a:focus {
    background-color: #337AB7 !important;
    color: #FFF !important;
}
.side-nav li ul li.active a {
    background-color: #337AB7 !important;
    color: #FFF !important;
}
.table.select-project-table td {
    vertical-align: top;
    border: 0;
}

.table.select-project-table td .checkbox {
    margin: 0;
}

.table.select-project-table td .checkbox label {
    font-weight: 600;
}

.table.select-project-table td .form-group {
    margin-bottom: 0;
}

.table.select-project-table td input[type="text"] {
    margin-left: 10px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.select-foreman ul.chosen-choices {
    padding: 6px 10px !important;
    width: 100% !important;
}

.select-foreman .chosen-container.chosen-container-multi {
    width: 100% !important;
}
@media only screen and (min-width:1200px){
    .panel-primary .table-bordered thead th {
        white-space: nowrap;
    }
}
@media (max-width: 1199px){
    table .project-name, table .project-description, table .manpower-name {
        min-width: 240px;
    }
    table .subcontractor-name {
        min-width: 241px;
    }
    table .project-image{
        min-width: 91px;
    }
    table .project-log-date, table .project-req-on, table .project-date, table .project-log, table .project-hours{
        min-width: 110px;
    }
    table .project-foreman {
        min-width: 111px;
    }
    table .project-comment {
        min-width: 170px;
    }
    table .project-details, table .project-req-material, table .project-subcontractors {
        min-width: 160px;
    }
    /*    table.table-project-request-today >tbody >tr > td{
            padding: 7px;
        }*/
    #sort_form input.btn {
        margin-bottom: 15px;
    }
    table.table-foreman .project-actions, table.table-subcontracter .project-actions {
        min-width: 160px;
    }
    table .project-customer, table .project-requested-by {
        min-width: 120px;
    }
    table .project-address, table .project-resources {
        min-width: 180px;
    }
    table .project-count, table .manpower-count, table .subcontractor-id {
        min-width: 45px;
    }
    table .manpower-id, table .manpower-count {
        min-width: 49px;
    }
    ul.project-estimate-list li{
        width: 100%
    }
}
@media (max-width: 767px){
    .upper-panel .panel-heading i.fa {
        font-size: 40px;
        margin: 15px;
    }
    #page-wrapper{
        padding-top: 20px;
    }
    body.admin-logged-in {
        margin-top: 110px;
    }
    .top-nav > .open > .dropdown-menu {
        max-height: 280px;
        overflow-y: auto;
    }
    .top-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
@media (max-width: 767px ) and (orientation: landscape){
    .top-nav > .open > .dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
    .notification_dropdown ul {
        font-size: 12px !important;
    }
}

@media (max-width: 480px){
    .navbar-brand img {
        width: 200px;
    }
    .btn.btn-ls.btn-primary {
        font-size: 12px;
        padding: 5px;
    }
    .notification_dropdown ul {
        font-size: 11px !important;
        left: -7px;
        min-width: 290px !important;
    }
    .notification_dropdown .dropdown-menu .label.label-primary {
        bottom: 0;
        float: none !important;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 8px;
    }
    .dropdown-menu > li > a {
        padding: 10px 30px 10px 20px;
        position: relative;
    }

}