/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
*, *:active, *:focus{
    outline: none !important;
}
a, a:hover{
    text-decoration: none;
}
h1{
    font-size: 28px;
}
.strong {
    font-weight:bold;
}
.cursive {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left
}
.justify {
    text-align: justify;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
.fullwidth {
    float:left;
    width:100%;
}
.halfwidth {
    float:left;
    width:50%;
}
.first {
    margin-left: 0 !important;
}
.alignleft{
    float:left;
    margin:0 15px 15px 0;
}
.alignright{
    float:right;
    margin: 0 0 15px 15px;
}
.aligncenter {
    float: none;
    display: block;
    margin: 0 auto;
}
/*.breadcrumb{
    margin-bottom: 10px !important;
}*/
.breadcrumb > li {
    text-transform:capitalize
}
img {
    max-width: 100%;
}
/*edits by vaibhav*/
/***LAYOUT***/
a:focus{
    outline: none !important;
}
body.admin-logged-in {
    background: #ffffff none repeat scroll 0 0;
    margin-top: 72px;
}
.login-admin{
    max-width: 300px;
    margin: 0 auto;
}
#non-logged-in{
    margin: 8% 0 !important;
}
#page-wrapper {
    height: 100%;
    min-height: 680px;
    overflow-y: auto;
}
.page-header {
    color: #337ab7;
}
/***HEADER***/
.navbar-default {
    background-color: #0e5a9e;
    border-color: #03385c;
}
.navbar-header {
    padding: 10px;
}
.navbar-brand {
    padding: 8px 15px 8px 5px;
}
.top-nav > li > a {
    padding-bottom: 25px;
    padding-top: 25px;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #074781;
}
.top-nav li a i {
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.highlight {
    background: none repeat scroll 0 0 #d9534f;    
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.dropdown.open {
    transition: all 2s ease 0s;
}
.top-nav>.open>.dropdown-menu {
    background-color: #337AB7;
    box-shadow: none;
    padding: 0;
}
.dropdown-menu > li > a {
    color: #ffffff;
    padding: 10px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #074781;
}
.dropdown-menu .divider{
    margin: 5px 0;
}
/***Sidebar***/
.side-nav {    
    top: 71px;
}
.side-nav a{
    font-weight: bold;
    text-transform: capitalize;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #FFFFFF;
    color: #0E5A9E;
}
.navbar-default .navbar-nav > li > a{
    color: #e0e0e0;
    border-bottom: 1px solid #555555;
}
.navbar-default .navbar-nav > li > a > .fa {
    margin-right: 5px;
}
.side-nav > li > ul > li > a{
    color: #e0e0e0;   
    border-bottom: 1px solid #555555;
}
.side-nav li a:hover, .side-nav li a:focus {
    background-color: #fff !important;
    outline: medium none;
    color: #0E5A9E !important;
}
/***ADD PROJECT PAGE***/
.project table.manpower-type {
    width: 100%;
}
.project table.manpower-type tr {
    float: left;
    width: 100%;
}
.project table.manpower-type tr td {
    float: left;
}
.project table.manpower-type .checkbox input[type="checkbox"]{
    margin-top: 2px;
}
.project .manpower-type td:last-child{
    padding: 10px 0;
}
.project .manpower-type td:last-child input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -4px;
    text-align: center;
}
/***ADD USER PAGE***/
.user .form-group > label {
    color: #333333;
    font-weight: 400;
}
/*Dashbaord lates style*/
.panel-primary .table-bordered thead th {
    background-color: #337AB7;
    color: #fff;
    vertical-align: top;
    font-size: 13px;
}
span.status-block {
    background-color: #D43F3A;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
}
span.status-active {
    background-color: #49961C;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.breadcrumb {
    padding: 0px 4px;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb i{
    color: #0E5A9E;
}
.breadcrumb li a{
    font-weight: bold;
}
.breadcrumb li{
    font-size: 16px;
}
ul.project-estimate-list {
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

ul.project-estimate-list li {
    display: inline-block;
    width: 49%;
    min-height: 30px;
    padding: 8px 4px;
    float: left;
    vertical-align: top;
}
.page-header {
    margin: 10px 0 20px;
}
.side-nav > li > a:hover, .side-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #0E5A9E;
}
.side-nav li ul li a:hover, .side-nav li ul li a:focus {
    background-color: #337AB7 !important;
    color: #FFF !important;
}
.side-nav li ul li.active a {
    background-color: #337AB7 !important;
    color: #FFF !important;
}
input.form-control, textarea.form-control{
    background: #f9f9f9 !important;
}
input[type="file"]{
    height: 34px;
    width: auto;
    z-index: 10;
}
.chosen-container-single .chosen-single div b{
    background-position: 0 7px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{
    background-position: -16px 7px !important;
}
.chosen-container .chosen-results li{
    font-size: 14px !important;
    padding: 8px 6px !important;
    text-transform: capitalize;
}
.chosen-container-single .chosen-single{
    height: auto !important;
    padding: 4px !important;
    font-size: 14px;
}
.modal-header{
    border-bottom: 2px solid #808080 !important;
}
.modal-header h4{
    font-weight: bold;
}

.modal-footer{
    border-top: 1px solid #337AB7 !important;   
}
.modal-footer button{
    background: #C9302C;
    color: #fff;
    border: none;
}
.modal-footer button:hover{
    background: #d9534f;
    color: #fff;
}
.modal-header .close{
    color: #C9302C;
    opacity: 0.8;
}
.table-hover > tbody > tr:hover{
    background-color: #e5e5e5;   
}

.table.select-project-table td {
    vertical-align: top;
    border: 0;
}
.table td input{
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    margin-left: 10px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.table th, .table td{
    text-transform: capitalize;
}
.table th{
    font-size: 14px !important;
}

.table td a button{
    margin: 2px 0;
}
.table.select-project-table td .checkbox {
    margin: 0;
}

.table.select-project-table td .checkbox label {
    font-weight: 600;
}

.table.select-project-table td .form-group {
    margin-bottom: 0;
}

.table.select-project-table td input[type="text"] {
    margin-left: 10px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: middle !important;
}
#projectTable tr:nth-of-type(1), #projectTable tr:nth-of-type(1):hover{
    background-color: #337AB7 !important;
    color: #fff;
}
#projectTable tr:nth-of-type(1) td{
    padding: 10px 8px;
    font-size: 14px;
}
#projectTable tr:hover{
    background: #e5e5e5 !important;
}
#projectTable tr:nth-last-of-type(2n+1){
    background: #F9F9F9;
}
#projectTable tr:nth-last-of-type(2n+2){
    background: #FFFFFF;
}


#projectTable td{
    padding: 2px 8px;
}
#projectTable .form-group{
    margin-bottom: 6px;
}
#projectTable td input[type="text"]{
    padding: 2px 8px;
    text-align: center;
}
.btn-xs i{
    margin-left: 5px;
}
.select-foreman ul.chosen-choices {
    padding: 2px 10px !important;
    width: 100% !important;
    background: #f9f9f9;


}

.select-foreman .chosen-container.chosen-container-multi {
    width: 100% !important;
    font-size: 14px !important;
    margin-bottom: 15px;
}


.select-foreman ul.chosen-choices{
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


#sort_form{
    width: 100%;
    float: left;
    margin: 0px 0;
}
.customer_row input {
    margin: 0 !important;
    max-width: 100%;
}
.customer_row .glyphicon-minus {
    border-radius: 50%;
    padding: 0;
    border: 1px solid #F00;
    height: 20px;
    width: 20px;
    line-height: 19px;
    font-size: 8px;
    margin-top: -12px;
    margin-bottom: -6px;
    text-align: center;
    color: #F00 !important;
}
select{
    background: #f9f9f9 !important;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
select option{
    padding: 5px 8px;
}
.tablesorter-pager select {
    min-width: 44px;
    padding-left: 8px;
    padding-right: 7px;
}
.project-estimate{
    width: 100%;
    float: left;
    margin-bottom: 12px;
}
.project-estimate .col-xs-121 div{
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    width: 100%;
    float: left;
}
.project-estimate .col-xs-121 div.huge{
    background: #337AB7;
    color: #fff;
}
.project-estimate .col-xs-121 div span{
    width: 50%;
    display: inline;
    float: left;
}
.project-estimate .col-xs-121 div span:nth-of-type(2){
    padding-left: 10px;

}
.project-estimate .panel{
    border:none;
    box-shadow: none;
}
.project-estimate .col-xs-121 a{
    border-radius: 3px;
    float: right;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    display: inline-block;
}

@media only screen and (min-width:1200px){
    .panel-primary .table-bordered thead th {
        white-space: nowrap;
    }
}
@media (max-width: 1199px){
    table .project-name, table .project-description, table .manpower-name {
        min-width: 240px;
    }
    table .subcontractor-name {
        min-width: 241px;
    }
    table .project-image{
        min-width: 91px;
    }
    table .project-log-date, table .project-req-on, table .project-date, table .project-log, table .project-hours{
        min-width: 110px;
    }
    table .project-foreman {
        min-width: 111px;
    }
    table .project-comment {
        min-width: 170px;
    }
    table .project-details, table .project-req-material, table .project-subcontractors {
        min-width: 160px;
    }
    /*  table.table-project-request-today >tbody >tr > td{
        padding: 7px;
    }*/
    #sort_form input.btn {
        margin-bottom: 15px;
    }
    table.table-foreman .project-actions, table.table-subcontracter .project-actions {
        min-width: 160px;
    }
    table .project-customer, table .project-requested-by {
        min-width: 120px;
    }
    table .project-address, table .project-resources {
        min-width: 180px;
    }
    table .project-count, table .manpower-count, table .subcontractor-id {
        min-width: 45px;
    }
    table .manpower-id, table .manpower-count {
        min-width: 49px;
    }
    ul.project-estimate-list li{
        width: 100%
    }
}
@media(min-width: 992px){
    .login-admin{
        left: 0;
        margin: -150px auto 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 300px;
    }
}

@media (max-width: 767px){
    .upper-panel .panel-heading i.fa {
        font-size: 40px;
        margin: 15px;
    }
    #page-wrapper{
        padding-top: 20px;
    }
    body.admin-logged-in {
        margin-top: 110px;
    }
    .top-nav > .open > .dropdown-menu {
        max-height: 280px;
        overflow-y: auto;
    }
    .top-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
@media (max-width: 767px ) and (orientation: landscape){
    .top-nav > .open > .dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
    .notification_dropdown ul {
        font-size: 12px !important;
    }
}

@media (max-width: 480px){
    .navbar-brand img {
        width: 200px;
    }
    .btn.btn-ls.btn-primary {
        font-size: 12px;
        padding: 5px;
    }
    .notification_dropdown ul {
        font-size: 11px !important;
        left: -7px;
        min-width: 290px !important;
    }
    .notification_dropdown .dropdown-menu .label.label-primary {
        bottom: 0;
        float: none !important;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 8px;
    }
    .dropdown-menu > li > a {
        padding: 10px 30px 10px 20px;
        position: relative;
    }

}
.customer_row{
    margin-bottom:5px;
}
.customer_row .col-lg-3{
    padding-left:5px;
    padding-right:5px;
}
.breadcrumb{
    visibility: hidden;
    height:1px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    width:100% !important;
}

#project_customer_members  label {
    float: left;
    width: 100%;
    text-align: left !important;;
}

/***************Css added**********/
#project_customer_members #member_row_inner:first-child label, .add-member{
    color: #fff;
    background:#337ab7; margin-bottom:5px;
}
table#member_row_inner th {
    background-color: #337AB7;
    color: #fff;
}
.member_row .chosen-container {
    width: 150px !important;
}

.member_row div {
    padding: 0px !important;
}


#member_row_inner .glyphicon.glyphicon-plus {
    background: none repeat scroll 0 0 #337ab7;
    border-radius: 50%;
    color: #fff;
    padding: 0;
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    line-height: 19px;
    font-size: 8px;
    margin-top: -12px;
    margin-bottom: -6px;
    text-align: center;
}
.member_row span.glyphicon-minus {
    border-radius: 50%;
    padding: 0;
    border: 1px solid #F00;
    height: 20px;
    width: 20px;
    line-height: 19px;
    font-size: 8px;
    margin-top: -12px;
    margin-bottom: -6px;
    text-align: center;
    color: #F00 !important;
}
/*scroll*/
scrollbar {
    /*  clear useragent default style*/
    -moz-appearance: none !important;
}
/* buttons at two ends */
scrollbarbutton {
    -moz-appearance: none !important;
}
/* the sliding part*/
thumb{
    -moz-appearance: none !important;
}
scrollcorner {
    -moz-appearance: none !important;
    resize:both;
}
/* vertical or horizontal */
scrollbar[orient="vertical"] {
    color:silver;
}
.side-navt::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.side-nav::-webkit-scrollbar
{
    width: 6px;
    background-color: #DBDBDB;
}

.side-nav::-webkit-scrollbar-thumb
{
    background-color: #0E5A9E;
}
h3 + hr {
    margin-top: 0;
    border-color: #eee !important;
    border: 0px !important;
    border-bottom: 1px solid #eee !important;
}
.text-info {
    color: #337ab7;
}
.space {
    clear: both;
    padding: 10px;
}